<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DDHotKey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DDHotKeyTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DDhotKey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>488FD35E2D74CCFD00CEA188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>488FD3662D74CCFD00CEA188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48F8D99B2D7C8BD500471CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48F8D9B02D7C8BD600471CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48F8D9BB2D7C8BD600471CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
